################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Hallgerd/v16
/gunnar/kernels/__pycache__
/gunnar/__pycache__
/hallgerd/__pycache__
/__pycache__
/examples/mnist-data
