################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/gunnar/kernels/__pycache__
/gunnar/__pycache__
/hallgerd/__pycache__
/notebooks/dev/.ipynb_checkpoints
/notebooks/notebooks/.ipynb_checkpoints
/notebooks/notebooks/mnist-data
